repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v3.4.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/python/black
  rev: 21.5b1
  hooks:
    - id: black
      types: [python]
      language_version: python3
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
      types: [python]
      language_version: python3
      additional_dependencies: ['flake8-bugbear==20.11.1']
- repo: https://github.com/asottile/pyupgrade
  rev: v2.15.0
  hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
- repo: https://github.com/timothycrosley/isort
  rev: 5.8.0
  hooks:
    - id: isort
      types: [python]
      language_version: python3
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.0
  hooks:
    - id: bandit
      types: [python]
      exclude: ^test/.*$
      language_version: python3
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.812
  hooks:
    - id: mypy
      name: "mypy client/"
      files: client/.*$
      types: [python]
      language_version: python3
    - id: mypy
      name: "mypy daemon/"
      files: daemon/.*$
      types: [python]
      language_version: python3
- repo: local
  hooks:
    - id: shellcheck
      name: "shellcheck"
      entry: shellcheck
      language: system
      types: [shell]
